SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/marketplace
SPRING_DATASOURCE_USERNAME=marketplace
SPRING_DATASOURCE_PASSWORD=marketplace
SPRING_DATA_REDIS_HOST=localhost
SPRING_DATA_REDIS_PORT=6379
SPRING_RABBITMQ_HOST=localhost
SPRING_RABBITMQ_PORT=5672
SPRING_RABBITMQ_USERNAME=marketplace
SPRING_RABBITMQ_PASSWORD=marketplace
APP_JWT_SECRET=super-secret-key-super-secret-key-super-secret-key
APP_STRIPE_SECRET_KEY=
APP_STRIPE_WEBHOOK_SECRET=
APP_ADMIN_BOOTSTRAP_ENABLED=true
APP_ADMIN_NAME=Admin Master
APP_ADMIN_EMAIL=admin@marketplace.local
APP_ADMIN_PASSWORD=Admin123!
APP_ADMIN_DOCUMENT_NUMBER=11144477735
